<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
            integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVkLH2X8VIwF7sx28G7AlTxfeIscP4Qzm"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

   <style>
       table tr td:nth-child(2) {
           background: #ccc;
       }
       @media (min-width: 48em) {
           .masthead-brand {
               float: left;
           }
           .nav-masthead {
               float: right;
           }
       }
   </style>
</head>
<body>
<div>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main style="margin-left: 40% " role="main" class="inner cover">
            <h1 class="masthead-brand">Listing Users</h1>
        </main>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
    <tr>
        <th>User ID</th>
        <th>Full Name</th>
        <th>Hospital No</th>
        <th>Role</th>
        <th>Username</th>
        <th>Password</th>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <th>Action</th>
        </div>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name} + ' ' + ${user.surname}"/>
        <td th:text="${user.hospitalNo}"/>
        <td th:text="${user.role}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td>
                <a th:href="@{/users/delete(id=${user.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this report?'))) return false ">Delete</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>


</body>
</html>